.main{
    /* border: 1px greenyellow solid; */
    /* width: 70%;
    height: 80vh; */
    font-size: 3rem;
    /* margin-left: auto; */
    margin-top: 4px;
}
.tracks-box,
.liked-box,
.newSongs_box{
    margin-left: 2%;
    height: 80vh;
    overflow-y: auto;
}
.tracks-box::-webkit-scrollbar, 
.liked-box::-webkit-scrollbar{
    display: none;
}

@media (max-width: 574px) {
    .tracks-box{margin: 0;}
}