.player{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    place-content: center;
    margin: 0 auto;
    height: 14vh;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

.box img{
    /* margin-left: 20px; */
    height: 100px;
    width: auto;
    /* object-fit: contain; */
}

.play100{
    background-color: rgb(22, 22, 22);
    border-top: 1px rgba(211, 211, 211, 0.26) solid;
    height: 14vh; 
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 574px) {
    
    .play100{
        height: 100px;
        
    }
}

@media (max-width: 1043px) {
    .box img{
        height: 64px;
        width: 64px; 
    }
}
