.tracksSearchResults{
    display: flex;
    align-items: center;
    margin: 10px;
}
.tracksSearchResults:hover{
    background-color: rgba(0, 0, 0, 0.185);
}
.text{
    margin-left: 30px;
    font-size: 1.2rem;
}
.text-muted{
 color: #777;
}

@media (max-width: 574px) {
    .tracksSearchResults{
        background-color: rgba(0, 0, 0, 0.185);
        border-radius: 10px;
    }
}